body {
	margin: 0px;
	padding: 0px;
	background-image: url(../img/overlay1.png);
	background-repeat: repeat;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 300;
	color: #2D2D2D;
	}
	h2 {
	padding: 0px 0px 30px 0px;
	font-size: 2.50em;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

a {
	color: rgba(0,0,0,.8);
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

/*WRAPPER */

.wrapper {
	background: #FFF;
	margin: 0px 20px;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* HEADER */

.header-wrapper {
	background: url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
}

#header {
	position: relative;
	overflow: hidden;
	height: 600px;
}

.contacts {
	position: absolute;
	top: 4em;
	right: 0;
}

/* LOGO */

.logo {
	position: absolute;
	top: 3em;
	left: 1.5em;
}

.logo h1, .logo p {
	margin: 0;
	padding: 0;
}

.logo h1 {
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.5em;
	color: #000;
}
.logo h1:first-letter {
	color: #9d4d20;
	font-weight: bold;
}
.logo p {
	padding: 0px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 0.9em;
	color: #161616;
}

.logo p a {
	color: #161616;
}
.logo p a:hover {
	text-decoration: underline;
}

.logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000;
}

/* MENU */

#menu {
	overflow: hidden;
	background: #101010;
		border-radius: 50px 50px 0px 0px;

}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,0.5);
	border: none;
}

#menu a:hover, #menu .active a {
	text-decoration: none;
	color: #9d4d20;
	transition: .5s;
}

/* MAIN */

#main {
	overflow: hidden;
	padding: 5em 0em;
}

#main img {
		margin-bottom: 1em;
}

#main .title {
		margin-bottom: 2em;
}

#main .title h2 {
		font-size: 1.5em;
		font-weight: 400;
		color: rgba(0,0,0,0.8);
}

#main .title .byline {
		display: block;
		padding-bottom: 2em;
		color: rgba(0,0,0,0.7);
	}

/* Footer */

.footer {
	overflow: hidden;
	padding: 50px 0px 30px 0px;
}

.footer p {
	text-align: center;
	color: rgba(255,255,255,0.7);
}

.footer a {
	color: rgba(255,255,255,0.7);
}

/* Portfolio */

.aside	{
	overflow: hidden;
	padding: 5em 0em;
	background: rgba(0,0,0,.02);
	background-image: url(../img/overlay1.png);
	background-repeat: repeat;
	border-top: 1px solid rgba(0,0,0,.05);
}
#portfolio .box {
	color: rgba(255,255,255,0.5);
}
#portfolio h3 {
	display: block;
	padding-bottom: 1em;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 400;
	color: rgba(255,255,255,0.7);
}
#portfolio .title h2 {	
	color: rgba(255,255,255,0.8);
}	
#portfolio .title .byline {
	display: block;
	padding-bottom: 2em;	
	color: rgba(255,255,255,0.7);
}

.col1,
.col2,
.col3,
.col4	{
	width: 282px;
}
	
.col1,
.col2,
.col3	{
	float: left;
	margin-right: 24px;
}
	
.col4	{
	float: right;
}

/*Titles*/


.title	{
	margin-bottom: 3em;
}
	
.title h2 {
	margin: 0;
	padding: 0;
	font-size: 2.8em;
	color: rgba(255,255,255,0.9);
}
	
.title .byline {
	padding-top: 0.50em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}

/* Button Style*/

.button	{
		display: inline-block;
		margin-top: 2em;
		padding: 0em 1em;
		background: #9d4d20;
		letter-spacing: 0.10em;
		line-height: 3em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1em;
		color: #161616;
		border-radius: 0px 15px 0px 15px;
}

/*Icons*/

.contacts ul {
	margin: 0;
	padding: 2em 1.5em 0em 0em;
	list-style: none;
}
	
.contacts ul li	{
	display: inline-block;
	padding: 0em 0.05em;
	font-size: 1.4em;
}
	
.contacts ul li span {
	display: none;
	margin: 0;
	padding: 0;
}
		
.contacts ul li a:before	{
	display: inline-block;
	background: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: rgba(0,0,0,.7);
}
